body {
    background-image: url(/img/degrade.avif);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: "Noto Serif", serif;
}

.card-title {
    justify-content: center;
    margin-bottom: 20px;
}

.card {
    border-radius: 15px;
    padding: 30px;
    width: 100%;
    max-width: 400px;
    background-color: black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-family: "Noto Serif", serif;
}

.mb {
    margin-bottom: 20px;
}

.input-container {
    position: relative;
}

.input-with-icon {
    position: relative;
    display: flex;
    align-items: center;
}

.senha-label,
.email-label {
    font-weight: bold;
    text-align: left;
    width: 100%;
    display: inline-block;
    margin-bottom: 5px;
}

.email,
.senha {
    border-radius: 10px;
    width: 100%;
    padding: 10px;
    padding-right: 100px;
    margin-bottom: 15px;
    transition: border-color 0.3s ease;
    box-sizing: border-box;
}

.email:focus,
.senha:focus {
    outline: none;
    border-color: rgb(0, 140, 255);
}

.imgemail, .imgchave {
    position: absolute;
    right: 10px;
    height: 30px;
    padding-bottom: 10px;
}

.login {
    width: 100%;
    border-radius: 10px;
    padding: 10px;
    background-color: #6f7276;
    border: none;
    color: white;
    font-size: 16px;
    margin-top: 15px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.login:hover {
    background-color: #2f3031;
    cursor: pointer;
}

.login:active {
    background-color: black;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    transform: translateY(2px);
}

.esenha {
    text-decoration: none;
    color: black;
}